# 对网站数据进行清洗

In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_excel('./pa_chong/data/实习僧大数据岗位.xls')
data2 = pd.read_excel('./pa_chong/data/实习僧数据分析岗位.xls')
data3 = pd.read_excel('./pa_chong/data/实习僧数据挖掘岗位.xls')

In [3]:
data1.head(2)

,职位名称,工资,城市,出勤要求,实习周期,职位福利,公司名称,所属行业,公司规模,投递链接
0,大数据工程师,120-200/天,南京,4天/周,4个月,福利健全，地铁边，快速成长空间，直接参与项目，留用转正机会，学习型组织，年轻态,焦点科技,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ccmmhmhpr...
1,大数据实习生,100-150/天,北京,5天/周,3个月,福利好，学习机会多,新浪微博,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ez8n9imdo...

In [4]:
data2.head(2)

,职位名称,工资,城市,出勤要求,实习周期,职位福利,公司名称,所属行业,公司规模,投递链接
0,数据分析,150-300/天,太原,5天/周,3个月,锻炼自我，专业、活力、创造，nice氛围，创新，福利，1对1导师制,京东,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_h9nd2uzfk...
1,数据分析,150-180/天,苏州,5天/周,6个月,物联网，人工智能，大数据，软件开发，嵌入式，云服务,博世中国,汽车/机械/制造,2000人以上,https://www.shixiseng.com/intern/inn_8in5iajxt...

In [5]:
data3.head(2)

,职位名称,工资,城市,出勤要求,实习周期,职位福利,公司名称,所属行业,公司规模,投递链接
0,数据挖掘实习生,120-180/天,成都,5天/周,6个月,优秀的团队，技术，留用转正机会,亚信科技,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ni6zhx0ri...
1,数据挖掘实习生,100-150/天,成都,5天/周,4个月,金融科技，专业团队，公司氛围好，成长空间大，90后为主,量子数能,互联网/游戏/软件,50-150人,https://www.shixiseng.com/intern/inn_uzsruw8ug...

# 对三个文件分别进行去重去缺失值

In [6]:
data1.isnull().mean()

职位名称    0.0
工资      0.0
城市      0.0
出勤要求    0.0
实习周期    0.0
职位福利    0.0
公司名称    0.0
所属行业    0.0
公司规模    0.0
投递链接    0.0
dtype: float64

In [7]:
data2.isnull().mean()

职位名称    0.0
工资      0.0
城市      0.0
出勤要求    0.0
实习周期    0.0
职位福利    0.0
公司名称    0.0
所属行业    0.0
公司规模    0.0
投递链接    0.0
dtype: float64

In [8]:
data3.isnull().mean()

职位名称    0.0
工资      0.0
城市      0.0
出勤要求    0.0
实习周期    0.0
职位福利    0.0
公司名称    0.0
所属行业    0.0
公司规模    0.0
投递链接    0.0
dtype: float64

小声bibi：没有缺失！！

In [9]:
print(data1.shape)
print(data2.shape)
print(data3.shape)

(884, 10)
(1043, 10)
(846, 10)

对薪水字段重新编码

In [10]:
data1.head(2)

,职位名称,工资,城市,出勤要求,实习周期,职位福利,公司名称,所属行业,公司规模,投递链接
0,大数据工程师,120-200/天,南京,4天/周,4个月,福利健全，地铁边，快速成长空间，直接参与项目，留用转正机会，学习型组织，年轻态,焦点科技,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ccmmhmhpr...
1,大数据实习生,100-150/天,北京,5天/周,3个月,福利好，学习机会多,新浪微博,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ez8n9imdo...

In [11]:
data1['工资'].unique()

array(['120-200/天', '100-150/天', '200-250/天', '120-150/天', '100-120/天',
       '300-400/天', '150-200/天', '180-200/天', '80-120/天', '150/天',
       '80-150/天', '100-200/天', '200/天', '200-300/天', '300/天',
       '100-180/天', '120-180/天', '50-100/天', '150-180/天', '200-400/天',
       '150-250/天', '250-300/天', '250-400/天', '150-300/天', '250-500/天',
       '120/天', '180/天', '50-80/天', '180-300/天', '400-800/天', '180-250/天',
       '400-500/天', '80-100/天', '100/天', '120-140/天', '300-500/天', '薪资面议',
       '250/天', '318-363/天', '136-227/天', '181-363/天', '800-1000/天',
       '181-272/天', '500-800/天', '49-50/天', '227-272/天'], dtype=object)

In [12]:
# 去除重复值
data1.drop_duplicates(inplace = True)

In [14]:
# 索引重置
data1.index = range(data1.shape[0])
data1.shape

(884, 10)

In [15]:
data2.drop_duplicates(inplace = True)
# 索引重置
data2.index = range(data2.shape[0])
data2.shape

(1043, 10)

In [16]:
data3.drop_duplicates(inplace = True)
# 索引重置
data3.index = range(data3.shape[0])
data3.shape

(846, 10)

对薪水字段进行重新编码

In [18]:
# 初始化列表来接收正则提取后的每个字符串
salary_list = []
for i in range(len(data1)):
    
    # 使用正则表达式需要将每一列都转换为字符串形式
    data1['工资'][i] = str(data1['工资'][i])
    
    # 注意join之后便为一个字符串，我们使用正则筛选掉数字和其它符号，findall在下列中只会切割每个字，[]表示或，()表示与，{}表示匹配次数
    salary_list.append(''.join(re.findall(r'[^0-9\.]', data1['工资'][i])))

# 使用unique知道有多少种写法
np.unique(salary_list)

array(['-/天', '/天', '薪资面议'], dtype='<U4')

In [19]:
# 接下来，我们对薪水这一列的表示方法都统一规范为数字（千/月）
for i in range(len(data1)):
    data1['工资'][i] = str(data1['工资'][i])
    
    if re.findall(r'(.*)\-(.*)\/\天', data1['工资'][i]):
        # 注意下面的findall返回的是一个list of list的结构
        s = re.findall(r'(.*)\-(.*)\/\天', data1['工资'][i])[0]
        # 保留小数点后两位
        salary = np.round((float(s[0]) + float(s[1])) / 2 * 10 / 12, 2)
        data1['工资'][i] = salary
    
    # 注意elif写法（else if）
    elif re.findall(r'(.*)\/\天', data1['工资'][i]):
        s = re.findall(r'(.*)\/\天', data1['工资'][i])[0]
        salary = np.round((float(s[0]) + float(s[1])) / 2 * 10, 2)
        data1['工资'][i] = salary

In [20]:
data1.head()

,职位名称,工资,城市,出勤要求,实习周期,职位福利,公司名称,所属行业,公司规模,投递链接
0,大数据工程师,133.33,南京,4天/周,4个月,福利健全，地铁边，快速成长空间，直接参与项目，留用转正机会，学习型组织，年轻态,焦点科技,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ccmmhmhpr...
1,大数据实习生,104.17,北京,5天/周,3个月,福利好，学习机会多,新浪微博,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ez8n9imdo...
2,大数据实习生,187.5,北京,5天/周,3个月,90后氛围，大数据，人工智能，实习,智能通证,互联网/游戏/软件,15-50人,https://www.shixiseng.com/intern/inn_zq6nmvkjy...
3,大数据实习生,112.5,合肥,5天/周,6个月,有梦想，锻炼自我，交通生活方便，福利体检，扁平管理，学习内容多,科大讯飞,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_wauvptzvr...
4,大数据实习生,91.67,武汉,5天/周,3个月,可留用，奖励多样，福利待遇好，正式员工名额，优秀导师，团队出游，乐趣多多，管理规范，轻松自由...,人人网,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_yojsgyfao...

In [23]:
data1['城市'].unique()

array(['南京', '北京', '合肥', '武汉', '深圳', '青岛', '上海', '广州', '长沙', '嘉兴', '石家庄',
       '成都', '全国', '杭州', '珠海', '苏州', '无锡', '宁波', '天津', '太原', '郑州', '许昌',
       '南昌', '重庆', '佛山', '南宁', '大连', '西安', '金华', '荆州', '济南', '南通', '福州',
       '常州', '沈阳', '商丘', '厦门', '北京市', '东莞', '廊坊'], dtype=object)

In [24]:
# 进行省份的划分，注意增加北京、天津、上海这三个地级市
anhui = list(pd.read_csv('./区域划分/省级划分/安徽.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
fujian = list(pd.read_csv('./区域划分/省级划分/福建.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
gansu = list(pd.read_csv('./区域划分/省级划分/甘肃.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
guangdong = list(pd.read_csv('./区域划分/省级划分/广东.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
guangxi = list(pd.read_csv('./区域划分/省级划分/广西.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
guizhou = list(pd.read_csv('./区域划分/省级划分/贵州.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
hainan = list(pd.read_csv('./区域划分/省级划分/海南.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
hebei = list(pd.read_csv('./区域划分/省级划分/河北.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
henan = list(pd.read_csv('./区域划分/省级划分/河南.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
heilongjiang = list(pd.read_csv('./区域划分/省级划分/黑龙江.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
hubei = list(pd.read_csv('./区域划分/省级划分/湖北.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
hunan = list(pd.read_csv('./区域划分/省级划分/湖南.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
jilin = list(pd.read_csv('./区域划分/省级划分/吉林.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
jiangsu = list(pd.read_csv('./区域划分/省级划分/江苏.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
jiangxi = list(pd.read_csv('./区域划分/省级划分/江西.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
liaoning = list(pd.read_csv('./区域划分/省级划分/辽宁.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
neimenggu = list(pd.read_csv('./区域划分/省级划分/内蒙古.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
ningxia = list(pd.read_csv('./区域划分/省级划分/宁夏.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
qinghai = list(pd.read_csv('./区域划分/省级划分/青海.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
shandong = list(pd.read_csv('./区域划分/省级划分/山东.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
shanxi = list(pd.read_csv('./区域划分/省级划分/山西.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
shangxi = list(pd.read_csv('./区域划分/省级划分/陕西.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
sichuan = list(pd.read_csv('./区域划分/省级划分/四川.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
xizang = list(pd.read_csv('./区域划分/省级划分/西藏.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
xinjiang = list(pd.read_csv('./区域划分/省级划分/新疆.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
yunnan = list(pd.read_csv('./区域划分/省级划分/云南.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
zhejiang = list(pd.read_csv('./区域划分/省级划分/浙江.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)
chongqing = list(pd.read_csv('./区域划分/省级划分/重庆.txt', sep='aa', names=['txt'], engine='python', encoding='utf8').txt)

In [25]:
# 对31个省市进行遍历
sheng_list = []
for i in range(len(data1)):
    if data1['城市'][i] in anhui:
        sheng_list.append('安徽')
    elif data1['城市'][i] in fujian:
        sheng_list.append('福建')
    elif data1['城市'][i] in gansu:
        sheng_list.append('甘肃')
    elif data1['城市'][i] in guangdong:
        sheng_list.append('广东')
    elif data1['城市'][i] in guangxi:
        sheng_list.append('广西')
    elif data1['城市'][i] in guizhou:
        sheng_list.append('贵州')
    elif data1['城市'][i] in hainan:
        sheng_list.append('海南')
    elif data1['城市'][i] in hebei:
        sheng_list.append('河北')
    elif data1['城市'][i] in henan:
        sheng_list.append('河南')
    elif data1['城市'][i] in heilongjiang:
        sheng_list.append('黑龙江')
    elif data1['城市'][i] in hubei:
        sheng_list.append('湖北')
    elif data1['城市'][i] in hunan:
        sheng_list.append('湖南')
    elif data1['城市'][i] in jilin:
        sheng_list.append('吉林')
    elif data1['城市'][i] in jiangsu:
        sheng_list.append('江苏')
    elif data1['城市'][i] in jiangxi:
        sheng_list.append('江西')
    elif data1['城市'][i] in liaoning:
        sheng_list.append('辽宁')
    elif data1['城市'][i] in neimenggu:
        sheng_list.append('内蒙古')
    elif data1['城市'][i] in ningxia:
        sheng_list.append('宁夏')
    elif data1['城市'][i] in qinghai:
        sheng_list.append('青海')
    elif data1['城市'][i] in shandong:
        sheng_list.append('山东')
    elif data1['城市'][i] in shanxi:
        sheng_list.append('山西')
    elif data1['城市'][i] in shangxi:
        sheng_list.append('陕西')
    elif data1['城市'][i] in sichuan:
        sheng_list.append('四川')
    elif data1['城市'][i] in xizang:
        sheng_list.append('西藏')
    elif data1['城市'][i] in xinjiang:
        sheng_list.append('新疆')
    elif data1['城市'][i] in yunnan:
        sheng_list.append('云南')
    elif data1['城市'][i] in zhejiang:
        sheng_list.append('浙江')
    elif data1['城市'][i] in chongqing:
        sheng_list.append('重庆')
    elif data1['城市'][i] == '北京':
        sheng_list.append('北京')
    elif data1['城市'][i] == '天津':
        sheng_list.append('天津')
    elif data1['城市'][i] == '上海':
        sheng_list.append('上海')
    else:
        sheng_list.append('其它')
data1['省份'] = sheng_list
data1[:5]

,职位名称,工资,城市,出勤要求,实习周期,职位福利,公司名称,所属行业,公司规模,投递链接,省份
0,大数据工程师,133.33,南京,4天/周,4个月,福利健全，地铁边，快速成长空间，直接参与项目，留用转正机会，学习型组织，年轻态,焦点科技,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ccmmhmhpr...,江苏
1,大数据实习生,104.17,北京,5天/周,3个月,福利好，学习机会多,新浪微博,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_ez8n9imdo...,北京
2,大数据实习生,187.5,北京,5天/周,3个月,90后氛围，大数据，人工智能，实习,智能通证,互联网/游戏/软件,15-50人,https://www.shixiseng.com/intern/inn_zq6nmvkjy...,北京
3,大数据实习生,112.5,合肥,5天/周,6个月,有梦想，锻炼自我，交通生活方便，福利体检，扁平管理，学习内容多,科大讯飞,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_wauvptzvr...,安徽
4,大数据实习生,91.67,武汉,5天/周,3个月,可留用，奖励多样，福利待遇好，正式员工名额，优秀导师，团队出游，乐趣多多，管理规范，轻松自由...,人人网,互联网/游戏/软件,2000人以上,https://www.shixiseng.com/intern/inn_yojsgyfao...,湖北

数据保存

In [26]:
data1.to_csv('./data_clear/clean_data/实习僧数据清洗1.csv', encoding = 'gb18030', index = None)

In [27]:
data1.isnull().mean()

职位名称    0.0
工资      0.0
城市      0.0
出勤要求    0.0
实习周期    0.0
职位福利    0.0
公司名称    0.0
所属行业    0.0
公司规模    0.0
投递链接    0.0
省份      0.0
dtype: float64